<div class="sidebar" style="height:100%;min-height:80vh">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#cprisk" ng-class="{'active': clicked=='cpRisk'}" ng-click="setClicked('cpRisk')">
          <i style="color: white" class="fa fa-building"></i> Counterparty Risk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#collateral" ng-class="{'active': clicked=='collateral'}" ng-click="setClicked('collateral')">
          <i style="color: white" class="fa fa-arrows-alt"></i> Collateral Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#config" ng-class="{'active': clicked=='config'}" ng-click="setClicked('config')">
          <i style="color: white" class="fa fa-address-book"></i> Config</a>
      </li>

    </ul>
  </nav>
</div>